{% extends 'base.html' %}

{% block title %}Inventario de {{ bodega.nombre }}{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Inventario - {{ bodega.nombre }}</h2>
    <a href="{% url 'inventario:crear_inventario_bodega' bodega.id %}" class="btn btn-success mb-3"> <i class="bi bi-plus-circle"></i> Agregar Producto</a>
</div>
    <table class="table table-hover table-striped datatable">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Descripción</th>
            <th>Proveedor</th>
        </tr>
    </thead>
    <tbody>
        {% for item in inventario %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.producto.nombre }}</td>
            <td>{{ item.cantidad }}</td>
            <td>{{ item.producto.descripcion }}</td>
            <td>{{ item.producto.proveedor }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h5 class="mt-5">Distribución del Inventario</h5>
<div style="width: 400px; max-width: 400px; margin: auto;">
    <canvas id="chartInventario"></canvas>
</div>

{% endblock %}
{% block extra_js %}
<script>
    const ctx = document.getElementById('chartInventario');
    ctx.height = 200;
    ctx.width = 200;
    const chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{% for item in inventario %}"{{ item.producto.nombre }}",{% endfor %}],
            datasets: [{
                label: 'Cantidad',
                data: [{% for item in inventario %}{{ item.cantidad }},{% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(54, 162, 235, 0.6)',
                    'rgba(255, 206, 86, 0.6)',
                    'rgba(75, 192, 192, 0.6)',
                    'rgba(153, 102, 255, 0.6)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true
        }
    });
</script>
<script>
    $(document).ready(function () {
        $('.datatable').DataTable({
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json'
            }
        });
    });
</script>
{% endblock %}
